<style>

    h1{

        padding-top:70px;
        padding-left:350px;
    }
    footer{

        padding-top:500px;
    }
    #container{


        padding-top: 250px;
        padding-left:350px;
    }


</style>


<div class="container">
    <h1>Reset Password...</h1>

    <div id="container">


        <form action="/profile/forgotpassword" method="post">


            <h4>Enter your email address</h4>
            <input id="email">
            <button class="btn btn-success">Send Mail</button>
        </form>

    </div>




</div>